[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=forking

ExecStart={{ file.files[1]["path"] }} start
ExecStop={{ file.files[1]["path"] }} stop

User={{ user["name"] }}
Group={{ user["name"] }}
Restart=always

LimitNOFILE=65536
LimitNPROC=4096


[Install]
WantedBy=multi-user.target